DerivedData/*
SciTool.xcodeproj/project.xcworkspace/xcuserdata/mdn.xcuserdatad/UserInterfaceState.xcuserstate
SciTool.xcodeproj/project.xcworkspace/xcuserdata/mdn.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Target/
.idea/
*DS_Store
.DS_Store
